/* ==========================================================================
    MODIFICHE BOOTSTRAP
   ========================================================================== */

@font-face {
    font-family: 'robotothin';
    src: url('../font/roboto-thin-webfont.eot');
    src: url('../font/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-thin-webfont.woff') format('woff'),
         url('../font/roboto-thin-webfont.ttf') format('truetype'),
         url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold_condensed';
    src: url('../font/roboto-boldcondensed-webfont.eot');
    src: url('../font/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-boldcondensed-webfont.woff') format('woff'),
         url('../font/roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('../font/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'robotothin';
    background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

h3 {
    line-height:25px;
    font-size: 20px;
    padding: 0px;
    margin-bottom: 0px;
}

ul {
    padding: 0;
    margin:0;
    list-style-type: none;
}

.navbar .brand {
    margin: 0 0 0 -5px;
    padding: 0 10px 5px 20px !important;
}


.hero-unit {
    padding: 0px !important;
    background: none !important;
}

.navbar-inverse .navbar-inner {
background-color: #c00;
background-image: -moz-linear-gradient(top,#c00,#111);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#c00),to(#c31e24));
background-image: -webkit-linear-gradient(top,#c00,#c31e24);
background-image: -o-linear-gradient(top,#c00,#c31e24);
background-image: linear-gradient(to bottom,#c00,#c31e24);
background-repeat: repeat-x;
border-color: #ccc;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}


.navbar-fixed-top {
    margin-bottom: 0px !important;
}

ul#listaHome li {
    border-bottom:1px solid #ccc;
    background: url('../icon/light/1_navigation_next_item.png') center right no-repeat;
    padding: 25px 15px;
    
}

ul#listaHome a:hover li {
    background: url('../icon/dark/1_navigation_next_item.png') #ccc center right no-repeat;
    color: #222;
    text-decoration:none;
}

ul#listaHome a:hover {
    text-decoration:none;
}

ul#listaHome a li {
    color: #fff;
    font-size: 25px;
}



/* ==========================================================================
       LISTA SPETTACOLI
   ========================================================================== */
ul#listaSpettacoli li {
    border-bottom:1px solid #ccc;
    background: url('../icon/light/1_navigation_next_item.png') center right no-repeat;
    padding: 10px;
    overflow:auto;
    
}

ul#listaSpettacoli  li:hover{
    background: url('../icon/dark/1_navigation_next_item.png') #ccc center right no-repeat;
    color: #222;
    text-decoration:none;
}

ul#listaSpettacoli span {
    display:block;
    height: 24px;
    overflow: hidden;
}

ul#listaSpettacoli li a{
    color:#fff; 
}
.imgLista {
    width: 150px;
    height:90px;
    float: left;
    margin: 10px 10px 10px 0;
    
}

.testoSpettacoli {
    padding-left:170px;
    padding-right:30px;
}
.dataSpettacoli {
    font-size:11px;
    color:#e0e0e0;
}
.doveSpettacoli {
    color:#FFEB00;
}
.descSpettacoli {

}













